@page "/Alunos"
@model ProjetoFinal.Pages.Alunos
@{
    ViewData["Title"] = "Alunos";
}

<h1>@ViewData["Title"]</h1>

<div>
    @Html.Partial("./Shared/_MenuPartialPage.cshtml")
    
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Data de nascimento</td>
                <td>Telefone</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var alunoModel in Model.AlunosList)
            {
                <tr>
                    <td>@alunoModel.Id</td>
                    <td>@alunoModel.Nome</td>
                    <td>@alunoModel.DataNascimento</td>
                    <td>@alunoModel.Telefone</td>
                </tr>
            }
        </tbody>
    </table>
</div>